@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-title: "Jua";
  --font-titleDark: "Dreadful";
  --font-body: "Quicksand", sans-serif;
  --font-body-bold: "Urbanist-600", sans-serif;
  --article: "article";

  --color-cradula-red: #FF3E41;
  --color-cradula-dark-red: #A71315;
  --color-cradula-green: #00C9A7;
  --color-cradula-pink: #E18AD4;
  --color-cradula-blue: #0081A7;
  --color-cradula-yellow: #F1D302;
  --color-cradula-purple: #6A7FDB;
  --color-cradula-orange: #FF8A43;

  --animate-appear: appear 1s ease-in-out;
  --animate-appear-fast: appear 0.75s ease-in-out;
  --animate-appear-slow: appear 1.5s ease-in-out;
  @keyframes appear {
    0% { opacity: 0; transform: scale(0.98) }
    100% { opacity: 1; transform: scale(1) }
  }

  --animate-draw: draw 1.2s ease-in-out forwards;
  @keyframes draw {
    0% { stroke-dashoffset: 200; }
    100% { stroke-dashoffset: 0; }
  }

  --animate-wiggle: wiggle 1s ease-in-out forwards;
  --animate-wiggle-infinite: wiggle 1s ease-in-out forwards infinite;
  @keyframes wiggle {
    25% { transform: rotate(12deg); }
    75% { transform: rotate(-12deg); }
  }

  --animate-bounce-up: bounce-up 0.75s ease-in-out forwards;
  @keyframes bounce-up {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10%); }
  }

  --animate-bounce-down: bounce-down 0.6s ease-in-out forwards;
  @keyframes bounce-down {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10%); }
  }

  --animate-pulse: pulse 1s ease-in-out forwards;
  @keyframes pulse {
    0%, 100% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.05); opacity: 0.8; }
  }

  --animate-shake: shake 0.3s ease-in-out forwards;
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-8%); }
    75% { transform: translateX(8%); }
  }

  --animate-beat-fast: beat 0.5s ease-in-out forwards;
  --animate-beat-slow: beat 1s ease-in-out forwards;
  @keyframes beat {
    50% { transform: scale(1.2)  }
  }
  
  --animate-back-bounce: back-bounce 1s ease-in-out forwards infinite;
  @keyframes back-bounce {
    0%, 100% { transform: scale(1) translateX(0); }
    50% { transform: scale(1.2) translateX(-10%);}
  }

}

.animate-splodges {
  animation: splodges 7s ease-in-out infinite;
} 

@keyframes splodges {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1) rotate(3deg); }
} 

.animate-splodges-reverse {
  animation: splodges-reverse 8s ease-in-out infinite;
}

@keyframes splodges-reverse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1) rotate(-3deg); }
} 

.article {
  @apply flex flex-col gap-3 font-body text-lg tracking-wide mb-10
}

.article > h1 {
  @apply font-title dark:font-titleDark text-4xl/12 dark:text-5xl text-center tracking-tight dark:tracking-normal underline decoration-cradula-green dark:decoration-cradula-red my-8;
}

.article > h2 {
  @apply font-title dark:font-titleDark text-3xl/10 dark:text-4xl decoration-cradula-green dark:decoration-cradula-red;
}

.article > ol {
  @apply list-decimal flex flex-col mx-4 lg:mx-10 gap-2;
}

.article > ul {
  @apply list-disc flex flex-col mx-4 lg:mx-10 gap-2 marker:text-cradula-green dark:marker:text-cradula-red;
}

.article > pre {
  @apply dark:bg-neutral-900 dark:text-neutral-100 dark:border-cradula-red bg-neutral-100 text-neutral-900 border-cradula-green;
  @apply p-5 lg:m-2 overflow-scroll border-2 rounded-md shadow-lg;
}

.article > hr {
  @apply bg-cradula-green dark:bg-cradula-red rounded-sm h-1 border-0 w-3/4 justify-center m-5 mx-auto
}

.article > blockquote {
  @apply pl-5 italic border-l-2 border-cradula-green/40 dark:border-cradula-red/40;
}

.article > p > img {
  @apply max-w-full sm:max-w-7/8 md:max-w-3/4 max-h-[400px] mx-auto;
}

.article > p > strong > em {
  @apply font-title dark:font-titleDark not-italic dark:uppercase text-xl leading-normal dark:tracking-wider;
}